
# ignore all imported data
*.json
BGStatsExport/*
pictureAssets/*.ai
pictureAssets/gameimage.png # this image changes constantly, its the one from bgg data for each game

# ignore all exported data
dataExport/*
pictureExports/*
*.pickle

# Ignore all compiled code
*.pyc
__pycache__/*

test.py